<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088889213617-em66eu8qv8asa0ra94rgq7n5pbk2vkjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088889213617-em66eu8qv8asa0ra94rgq7n5pbk2vkjr</string>
	<key>API_KEY</key>
	<string>AIzaSyDoxmLBw_clRyOg8DoA4Erc7Z5ic7ulwU4</string>
	<key>GCM_SENDER_ID</key>
	<string>1088889213617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.VladHondru.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-b9300</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-b9300.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088889213617:ios:37ab6d6358c1e77b450890</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-b9300.firebaseio.com</string>
</dict>
</plist>